:root {
  /* colors */
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  /* spacing */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  /* text */
  --size-bold: 22px;
  --size-regular: 15px;
  --lh-bold: 120%;
  --lh-regular: 140%;
  --ls-bold: 0;
  --ls-regular: 0.2px;
}

body {
  margin: 0;
  padding: 0;
  background: #d5e1ef;
  font-family: Outfit;

  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  max-width: 320px;
  border-radius: 16px;
  padding: 16px 16px 40px 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  background: white;
}

.qr {
  border-radius: 10px;
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 0 16px;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--color-slate-900);
  font-size: var(--size-bold);
  font-weight: 700;
  line-height: var(--lh-bold);
  letter-spacing: var(--ls-bold);
  text-align: center;
}

.description {
  margin: 0;
  padding: 0;
  color: var(--color-slate-500);
  font-size: var(--size-regular);
  font-weight: 400;
  line-height: var(--lh-regular);
  letter-spacing: var(--ls-regular);
  text-align: center;
}
